html {
    scroll-behavior: smooth;
}

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

section {
    padding: 30px 0 ;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: var(--black);
    border-radius: 7px;
    font-size: 20px;
    padding: 5px 20px;
}

.btn:hover {
    background: var(--green);
    color: #fff;
    letter-spacing: 2px;
    transition: all .2s linear;
}

/* start header section style */

header nav {
    background-color: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.logo {
    color: var(--black);
    font-size: 30px;
    font-weight: bolder;
}

.logo i {
    color: var(--green);
    
}

.navbar-light .navbar-nav .nav-link  {
    color: var(--light-color);
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 2px;
}

.navbar-light .navbar-nav .active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: var(--green);
}

/* end header section style */

/* start home section style */

.home {
    margin-top: 100px;
}

.home .info {
    margin-top: 100px;
}

.home .swiper-slide {
    display: flex;
    justify-content: space-between;

}

.home .image img {
    width: 100%;
}

.home .swiper-slide .info h5 {
    color: var(--green);
    font-size: 35px;
}

.home .swiper-slide .info h1 {
    color: var(--black);
    font-size: 45px;
    font-weight: bolder;
}

.home .swiper-slide .info p {
    color: var(--light-color)!important;
    line-height: 25px;
    padding: 10px 0px;
}


.home .swiper-slide .info a:hover {
    background-color: var(--green);
} 

/* end home section style */

/* start dishes section style */

.dishes {
    background-color: rgb(238, 238, 238);
}

.dishes h6 {
    color: var(--green);
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.dishes h4 {
    color: var(--black);
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.dishes .row {
    margin: 10px 0;
}

.dishes .row .box {
    border: 1px solid rgb(190, 179, 179);
    border-radius: 7px;
    background-color: #fff;
    margin: 5px 0;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.dishes .row .box img {
    margin-top: 20px;
    height: 175px;
}

.dishes .row .box p {
    color: var(--black);
    font-size: 25px;
    font-weight: 700;
}

.dishes .row .box .stars {
    color: var(--green);
}

.dishes .row .box h5 {
    color: var(--green);
    margin-top: 20px;
    font-size: 21px;
}

.dishes .row .box a {
    margin-bottom: 20px;
}

/* end dishes section style */


/* start about section style */

.about h6 {
    color: var(--green);
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.about h4 {
    color: var(--black);
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.about .row .image {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.about .row .image img {
    width: 100%;
    max-width: 100%;
}

.about .row .sideInfo h2 {
    color: var(--black);
    font-size: 35px;
    font-weight: 800;
    margin: 15px 0;
    text-transform: capitalize;
}

.about .row .sideInfo p {
    color: var(--light-color);
    line-height: 25px;
    text-transform: capitalize;
}

.about .row .sideInfo span {
    border: 1px solid rgb(190, 173, 173);
    border-radius: 7px;
    margin: 15px 5px;
    background-color: rgb(238, 238, 238);
    font-size: 20px;
    padding: 5px 20px; 
}

.about .row .sideInfo span i {
    color: var(--green);
    margin-right: 5px;
}

/* end about section style */

/* start menu section style */

.menu {
    background-color: rgb(238, 238, 238);
}

.menu h6 {
    color: var(--green);
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}


.menu h4 {
    color: var(--black);
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.menu .row {
    margin-top: 50px;
}

.menu .row .box {
    border: 1px solid rgb(190, 179, 179);
    border-radius: 7px;
    background-color: #fff;
    margin: 5px 0;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.menu .row .image {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.menu .row .image img {
    width: 90%;
    max-width: 100%;
    border-radius: 7px;
    margin: 20px 0;
    height: 12rem;
}

.menu .row .box:hover img {
    transform: scale(1.1);
}

.menu .row .box .stars i {
    color: var(--green);
    margin: 15px 0;
}

.menu .row .box h3 {
    color: var(--black);
}

.menu .row .box p {
    color: var(--light-color);
}

.menu .row .box h5 {
    color: var(--green);
}

.menu .row .box a {
    margin-bottom: 20px;
}
/* end menu section style */

/* start review section style */

.review h6 {
    color: var(--green);
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.review h4 {
    color: var(--black);
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.review .row {
    margin-top: 50px;
}

.review .row .box {
    border: 1px solid rgb(190, 179, 179);
    border-radius: 7px;
    background-color: rgb(238, 238, 238);
    margin: 5px 0;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.review .row .box .image {
    width: 100%;
    max-width: 100%;
    overflow: hidden;

}

.review .row .box .image img {
    width: 30%;
    max-width: 100%;
    border-radius: 50%;
    margin: 20px 0;
}

.review .row .box h2 {
    color: var(var);
}

.review .row .box p {
    color: var(--light-color);
    text-align: center;
}

.review .row .box .stars {
    color: var(--green);
    margin: 15px 0;
}

/* end review section style */

/* start order section style */

.order {
    background-color: rgb(238, 238, 238);
}

.order h6 {
    color: var(--green);
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.order h4 {
    color: var(--black);
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.order .row .orderBox {
    background-color: #fff;
    border: 1px solid rgb(233, 207, 207);
    border-radius: 7px;
    margin-top: 20px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.order .row .orderBox form {
    margin: 20px 20px;
}

.order .row .orderBox .row {
    margin: 20px 0;
}

.order .row .orderBox .row .col label {
    color: var(--light-color);
}

.order .row .orderBox .row .col input {
    background-color: rgb(238, 238, 238);
}


/* end order section style */

/* start footer section style */

footer .row {
    margin: 30px 0;
    border-bottom: 1px solid rgb(206, 196, 196);
}

footer .row .col {
    margin-bottom: 20px;
}

footer .row h4 {
    color: var(--black);
    font-weight: bold;
}

footer .row div  a {
    color: var(--light-color);
}

footer .row a:hover  {
    color: var(--green);
    
}

footer p {
    font-size: 25px;
    font-weight: bold;
    color: var(--black);
}

footer p span {
    color: var(--green);
}

/* end footer section style */


/* start loader section style */

.loader-container {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.loader-container img {
    width: 25rem;
}

.loader-container.fade-out {
    top: 110%;
    opacity: 0;
}

/* end loader section style */






















